* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    margin:0px;
    padding:0px;
    height: 100%;

    background: #333;
    overflow: hidden;
}

.anchor {
    position: relative;
    top: -60px;
}

.sidebar h3 {
    margin-bottom: 0px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar-default .navbar-brand {
    color: #337ab7;
}

.navbar-default .navbar-nav>li>a {
    color: #337ab7;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #337ab7;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #23527c;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ff9900;
}

#quarter {
    font-weight: bold;
}

#quarter:focus,
#quarter:hover {
    color: #337ab7;
}

.carousel {
    max-height: 400px;
    overflow: hidden;
    background-color: black;
    box-shadow: 0px 0px 10px #888888;
}

.carousel .item {
    height: 400px;
    text-align: center;
}

.carousel .item img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content-main,
.content {
    /*border-radius: 15px;*/
    /*background-color: #f8f8f8;*/
    background-color: white;
    box-shadow: 0px 0px 15px #999;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content-main {
    padding-top: 20px;
}

.header {
    margin-bottom: 10px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.project-header {
    text-align: center;
}

.project-logo {
    box-shadow: 0px 0px 5px #888888;
    width: 100%;
}

.project-image-cont {
    text-align: center;
}

.project-image {
    width: 100%;
}

.project-image-medium {
    width: 60%;
}

.no-padding {
    padding: 0;
}

.nav > li > a.disabled {
    pointer-events: none;
    color: #777;
}

.image-bordered {
    box-shadow: 0px 0px 5px #888888;
}

.width-third {
    width: 33%;
    float: left;
    margin-left: 0.33%;
}

.indented {
    text-indent: 50px;
}

.subheading {
    /*font-weight: bold;*/
}

hr.underliner {
    margin-top: -5px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
}

hr.overliner {
    margin-top: 0px;
}

.linklist > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* all links */
.linklist-nested > li > a {
    color: black;
    padding: 10px 15px;
    font-weight: bold;
}

/* nested links */
.linklist-nested .nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    font-size: 14px;
}

.checklist {
    list-style: none;
}

.checklist li {
    position: relative;
}

.checklist .checkbox {
    position: absolute;
    left: -25px;
    margin: 0;
}

.cols-cont {
    position: relative;
}

.sidebar {
    position: absolute;
    top: 0%;
    left: calc(100% - 240px);
    width: 240px;
}

.left-col {
    position: absolute;
    top: 0%;
    left: 0%;
    width: calc(100% - 240px);
}

h4,
h5 {
    font-weight: bold;
}

h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

blockquote {
    margin-bottom: 0;
    font-size: 10pt;
}

ul {
    list-style: circle;
}

.redline {
    color: red;
    text-decoration: line-through;
}

.bells {
    text-align: center;
}

.bs-docs-sidebar li>a:focus {
    background-color: transparent;
}

.bs-docs-sidebar .active>a,
.bs-docs-sidebar li>a:hover {
    color: #ff9900;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #ff9900;
}

.affix {
    top: 45px;
}

.toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.toggle.collapsed:after {
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#visualizer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#cv-controls {
    width: 100%;
    height: 30px;
    display: block;
    background-color: #DCDCDC;
    border-bottom: 1px solid grey;
    box-sizing: content-box;
}

#cv-controls button {
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    float: left;
    border: 0px;
    height: 30px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#cv-controls #cv-api,
#cv-controls #cv-data {
    float: right;
}

#cv-controls button:hover {
    background-color: lightgrey;
}

#cv-controls button:disabled {
    color: #CCCCCC;
}

#cv-controls button:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid steelblue;

}

#cv-controls button.cv-selected {
    background-color: lightgrey;
    border-bottom: 1px solid #CC9863;
}

#cv-controls button:active {
    box-shadow: 0px 0px 3px #888888;
}

#cv-console {
    position: fixed;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    height: 280px;
    box-shadow: 0px 0px 7px #888888;
    transition: bottom 1s ease;
    background-color: #DCDCDC;
}

.cv-console-bottom {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 0px;
    margin: 0px;
}

#cv-sidepanel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 250px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    background-color: #DCDCDC;
    box-sizing: content-box;
}

#cv-standby,
#cv-reference {
    position: absolute;
    width: 100%;
    height: 100%;
}

#cv-reference {
    padding: 15px;
    overflow-y: auto;
    font-size: 11pt;
}

#cv-reference h5 {
    font-size: 12pt;
}

.cv-hidden {
    display: none;
}

.cv-container {
    background-color: white;
    width: 100%;
    height: 100%;
}

.cv-view {
    /*border: 1px solid green;*/
}

.cv-menu {
    /*border: 1px solid blue;*/
/*    overflow-x: hidden;
    overflow-y: hidden;*/
    background-color: AliceBlue;
}

.cv-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.cv-li {
    width: 50%;
    float: left;
    display: inline-block;
}

.cv-li-inner {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.cv-canvas {
    /*border: 1px solid red;*/
    position: absolute;
    /*background-color: #466485;*/
}

.cv-base {
    background-color: white;
}

.cv-stack-bottom,
.cv-stack-right,
.cv-stack-left,
.cv-queue-bottom,
.cv-queue-right,
.cv-queue-left {
    /*fill: #112E4F;*/
    fill: black;
}

.cv-stack-label,
.cv-queue-label {
    text-anchor: end;
    alignment-baseline: middle;
    font-size: 10pt;
}

.cv-circle-text {
    text-anchor: start;
    alignment-baseline: middle;
    font-size: 12px;
    font-weight: bold;
    transition: fill .75s ease, font-size .75s ease;
}

.cv-circle-text.modified {
    font-size: 15px;
    fill: red;
}

.cv-circle-text.accessed {
    font-size: 15px;
    fill: blue;
}

.cv-stack-text,
.cv-queue-text,
.cv-circle-label {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 15px;
    font-weight: bold;
}

.cv-node-rect,
.cv-node-circle {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    transition: fill .75s ease, stroke .75s ease;
    color: black;
}

.cv-node-fixed .cv-node-circle {
    fill: gainsboro;
}

.cv-node-circle.cv-node-new,
.cv-node-rect.cv-node-new {
    fill: #66AC53;
    stroke: #93CEB4;
}

.cv-node-circle.cv-node-remove,
.cv-node-rect.cv-node-remove {
    fill: #FF5E5E;
    stroke: #FF8D8D;
}

.cv-node-circle.cv-node-selected,
.cv-node-rect.cv-node-selected {
    fill: #719FC2;
    stroke: #B6CFE2;
}

.cv-label-text {
    transition: fill 1s ease;
}

.cv-textpath {
    font-size: 8pt;
    font-weight: bold;
    transition: fill .75s ease;
}

.cv-label-modified {
    fill: red;
    font-size: 10pt;
}

.cv-label-accessed {
    fill: blue;
    font-size: 10pt;
}

.cv-edge-new path,
path.link.cv-edge-new {
    fill: #93CEB4;
    stroke: #93CEB4;
}

.cv-edge-selected path,
path.link.cv-edge-selected {
    fill: #2083CF;
    stroke: #2083CF;
}

.cv-edge-removed path,
path.link.cv-edge-removed {
    fill: #FF8D8D;
    stroke: #FF8D8D;
}

.cv-marker path {
    transition: fill 1s ease;
}

.drop-active {
    background-color: lightpink;
}

.drop-target {
    background-color: darkgrey;
}

.CodeMirror {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
}

path.link.dragline {
    stroke: #66AC53;
}

.table td {
    padding: 5px;
    border: none;
}



path.link {
    fill: none;
    stroke: #000;
    cursor: default;
    transition: stroke .75s ease;
}

path.link.hidden {
    stroke-width: 0;
}

#cv-load {
    position: relative;
}

#cv-samples {
    position: absolute;
    padding: 0;
    margin: 0;
}

#cv-dropdown {
    display: inline-block;
    float: left;
}

#cv-samples button {
    width: 100%;
}
